# MongoDB Configuration
spring.data.mongodb.uri=YOUR_MONGODB_URI
spring.data.mongodb.database=react
# Spring Boot Configuration
spring.application.name=movie-booking-api

#Stripe key
stripe.secret.key=YOUR_STRIPE_SECRET_KEY

# OpenRouter API Configuration 
openrouter.api.key=YOUR_OPENROUTER_API_KEY

# Google OAuth Configuration
google.client-id=YOUR_GOOGLE_CLIENT_ID
google.oauth.client-id=${google.client-id}
google.oauth.redirect-uri=http://localhost:5173
google.oauth.scope=openid email profile

#Github OAuth Configuration
github.client.id=YOUR_GITHUB_CLIENT_ID
github.client.secret=YOUR_GITHUB_CLIENT_SECRET
github.redirect.uri=http://localhost:8080/api/auth/github/callback

# Email Configuration
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=YOUR_EMAIL
spring.mail.password=YOUR_GMAIL_APP_PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

# Redis Configuration
spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.cache.type=redis
spring.cache.redis.time-to-live=600000

#JWT
app.jwt.secret=YOUR_JWT_SECRET
app.jwt.expiration-ms=86400000

# Admin key
admin.secret-key=YOUR_ADMIN_SECRET_KEY
#Momo Qr
momo.static-qr-url=http://localhost:5173/payment-icons/momo-static-qr.jpg

# Unique Index
spring.data.mongodb.auto-index-creation=true

# Frontend URL for password reset links
frontend.url=http://localhost:5173

# Server Configuration
server.port=8080
